body,
html {
    background-color: #eeeeee;
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    margin-bottom: 5rem;
}

.header .container {
    background-color: #5E8BB3;
    height: 5rem;
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.logo-header {
    width: 5rem;
    height: auto;
}


.lis-nav {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0;
    gap: 2rem;
}

.txt-nav a {
    color: white;
    text-decoration: none;

}



.name-web {
    text-align: center;
    padding: 2rem 0;
}

.logo-content {
    width: 30rem;
    max-width: 100%;
    height: auto;
}

.about-project-content {
    text-align: center;
}

.blog {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    flex-wrap: wrap;
}

.content {
    text-align: center;
    flex: 1;
}

.img-lis {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    flex-wrap: wrap;
}

.box-for-img {
    width: 20rem;
    max-width: 100%;
    background-color: #ffffff;
    border-radius: 1rem;
    margin: 1rem;
}

.box-for-img img {
    width: 90%;
    height: auto;
}

.link-box {
    width: 100%;
    height: 120px;
    background-color: #5E8BB3;
    border-radius: 8px;
    transition: transform 0.2s ease;

    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: #ffffff;


}

.links-content {
    max-width: 1000px;
    margin: 0 auto;
    gap: 30px;
    padding: 2rem 1rem;

    display: grid;
    grid-template-columns: repeat(2, 1fr);

}

.member {
    text-align: center;
    font-size: 1.5rem;
    color: #333;

}

.member-contant {
    display: flex;
    justify-content: center;
    gap: 30rem;
    margin-bottom: 10rem;
}

.member-box {
    width: 12.5rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 0.5rem;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    color: #333;
    margin-bottom: 2rem;
}

.member-box img {
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.member-lis {
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.description-box {
    width: 60rem;
    max-width: 90%;
    height: auto;

    background-color: #ffffff;
    border-radius: 0.5rem;
    padding: 1.5rem;
    margin: 2rem auto;

    text-align: center;
    line-height: 1.6;
    color: #555;
}