* {
    outline:1px solid red;

}

body,
html {
    background-color: #ffffff;
    font-family: 'Kanit', sans-serif;
}

.header .container {
    background-color: #5E8BB3;
    height: 5rem ;
    width: auto ;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.lis-nav {
    gap: 2rem;
    display: flex;
    list-style-type: none
}

.txt-nav a {
    color: white;
    text-decoration: none;
}

.logo-header {
    width: 5rem;
    height: auto;
    padding: 0%;
}
.logo-content {
    width: 50rem;
    align-items: center;
}
.content {
    text-align: center;
}
.img-lis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    justify-content: space-around;
}
.hardware-img {
    width: 12rem;
}
.img {
    width: 20rem;
    justify-content: center;
}

.name-web{
    text-align: center;
}
.about-project-content {
    text-align: center;
}

.blog {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    
}